/*    Common styles    */

* {
    scroll-behavior: smooth;
}

html, body {
    min-width: 320px;
    background: #ffffff;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    color: #828282;
    font-weight: 400;
}

a {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #2cc7c1;
}

a:hover {
    color: #2cc7c1;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    position: relative;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

.row__link {
    text-transform: uppercase;
}

/*    Header styles    */

.header {
    height: 100vh;
    min-height: 500px;
    background: url("../img/header_bg2.jpg");
    background-size: cover;
    background-position: center;
}

.section-table {
    display: table;
    width: 100%;
    height: 100%;
}

.section-row {
    display: table-row;
}

.section-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.section-center {
    max-width: 550px;
    margin: 0 auto;
}

.header h1 {
    font-family: Montserrat, sans-serif;
    font-size: 31px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.header p {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.fa {
    margin-left: 5px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -ms-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.btn-primary {
    background: #3b7ab4;
}

.btn-primary:hover {
    background: #275987;
}

.btn-primary:hover .fa {
    transform: translateX(7px);
}

.btn-default.fa {
    vertical-align: text-top;
}

/*.btn-default:hover .fa {*/
/*    transform: translate(3px, 3px);*/
/*}*/

.btn-default {
    background: #6a7079;
}


/*    Speakers styles    */

.speakers {
    padding: 90px 0;
    border-bottom: 6px solid #f0f0f1;
}

.speakers h2 {
    color: #828689;
}

.speakers .lg {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 30px;
}

.tabs-wrap {
    border: 3px solid #ececec;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tabs-wrap .tab-content {
    padding: 25px 20px;
}

.tabs-wrap .tab-content ul li {
    line-height: 30px;
}

.fa-check-circle {
    margin-right: 10px;
    font-size: 14px;
    color: #4ed2d7;
}

.tabs-wrap .nav-tabs li:not(.active) {
    background-color: #ececec;
}

.tabs-wrap .nav-tabs.nav-justified > li a,
.tabs-wrap .nav-tabs.nav-justified > li.active a,
.tabs-wrap .nav-tabs.nav-justified > li.active a:focus,
.tabs-wrap .nav-tabs.nav-justified > li.active a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 700;
    outline: 0;
    text-transform: uppercase;
    color: #abb1ba;
    cursor: pointer;
}

.tabs-wrap .nav-tabs.nav-justified > li.active a {
    color: #9097a1;
}

.speakers .heading {
    margin-top: 100px;
    margin-bottom: 60px;
}

.speakers .heading h2 {
    color: #6a7079;
}


/*    Persons styles    */
.persons h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #777a7d;
}

.person__item .person {
    position: relative;
}

.front {
    position: absolute;
    width: 140px;
    height: 140px;
    /*IE */
    left: 50%;
    margin-left: -70px;
    cursor: pointer;
}

.back {
    display: inline-block;
    width: 140px;
    height: 140px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #6bd8d3;
    opacity: 0;
}

.back i {
    font-size: 40px;
    line-height: 140px;
    color: #ffffff;
}

.person__item .person:hover .front {
    opacity: 0;
}

.person__item .person:hover .back {
    opacity: 1;
}

.person__item .person:hover h3 {
    color: #6bd8d3;
}


/*    Speakers register styles    */

.speakers .register {
    margin-top: 70px;
}

/*    Events styles    */

.events {
    padding: 90px 0;
}

.events .lg {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 30px;
}

/*    Row Tabs    */

time {
    margin-right: 25px;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #2cc7c1;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
}

.event__tablink {
    color: #747a84;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.event__tablink:hover {
    color: #747a84;
    text-decoration: underline;
}

.collapse-state {
    color: #2cc7c1;
}

.collapse p {
    color: #999999;
}
.tab-collapse {
    margin-bottom: 20px;
}

/*    Row Video    */

.row-video, .row-gallery {
    margin-top: 70px;
}

/*    Row Gallery    */

.carousel-indicators {
    left: 20px;
    bottom: 20px;
    width: auto;
    margin: 0;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid #2cc7c1;
    background: transparent;
}

.carousel-indicators li.active {
    width: 14px;
    height: 14px;
    background: #2cc7c1;
}

/*    Register form styles    */

.register-form {
    padding: 90px 0;
    background-color: #f3f3f3;
}

.section-form {
    margin-top: 50px;
    padding: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}

.section-form input,
.section-form select {
    height: 44px;
    padding-right: 20px;
    background-color: #efefef;
}

.form-control-feedback {
    right: 12px;
    line-height: 44px;
}

.has-success .form-control-feedback {
    right: 3px;
    font-size: 15px;
    color: #2cc7c1;
}

.has-success .form-control,
.section-form input.form-control:focus {
    border: 2px solid #2cc7c1;
    background-color: #ffffff;
    box-shadow: none;
}

/*    Register form select styles    */

.select2-container--default .select2-selection--single {/*    Select field stylisation, size, bg, horizontal align    */
    height: 44px;
    text-align: left;
    background: #efefef;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {/*    Select field stylisation, vertical, color    */
    line-height: 44px;
    color: #bebebe;
}

.select2-container--open .select2-selection--single {/*    Open select field stylisation    */
    background-color: #2cc7c1;
    box-shadow: none;
}

.select2-container--open .select2-selection--single .select2-selection__rendered {/*    Open select field stylisation, color    */
    color: #ffffff;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {/*    Arrow stylisation, color    */
    top: 10px;
    color: #1f8b87;
}

li.select2-results__option:first-child {/*    Placeholder hide   */
    display: none;
}

.select2-results__options,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"] {/*    Select open bg stylisation    */
    background-color: #525b64;
}

.select2-results__options {/*    Options color   */
    color: #2cc7c1;
}

/*    Sponsors section styles    */

.sponsors {
    padding: 65px 0;
    background-color: #ffffff;
    text-align: center;
}

.sponsors-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*    Map section styles    */

.map img {
    width: 100%;
}

/*    Footer styles    */

/*    Contacts section styles    */

.contacts {
    padding: 70px 0;
    background-color: #525b64;
}

.contacts h3, .contacts h4 {
    margin: 0 0 25px;
    color: #ffffff;
}

.contacts h3 span {
    font-weight: 700;
}

.contacts h3 {
    font-size: 25px;
}

.contacts h4 {
    font-size: 20px;
    line-height: 30px;
}

.social img:first-of-type {
    margin-right: 20px;
}

.contacts p {
    color: #cdd0d2;
}

.contact-details p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #2cc7c1;
}

.contact-details p i {
    margin-right: 10px;
}

/*    Copyrights section styles    */


.copyrights {
    padding: 15px 0;
    background-color: #3f464c;
}

.copyrights p {
    margin: 0;
    font-size: 14px;
    letter-spacing: .14px;
    color: #cacaca;
}




/*    Media styles    */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .speakers .heading, .speakers .register {
        margin: 40px 0;
    }

    .speakers, .events {
        padding: 50px 0;
    }

    .lg ~ p {
        margin-bottom: 30px;
    }

    .tabs-wrap {
        margin-top: 20px;
    }

    .carousel-inner .item img {
        width: 100%;
    }

    .embed-responsive {
        margin-bottom: 40px;
    }

    .register-form {
        padding: 40px 0;
    }

    .carousel {
        margin-top: 40px;
    }

    .sponsors {
        padding: 20px 0 0;
    }

    .sponsors img {
        margin-bottom: 20px;
    }

    .contacts {
        padding: 30px 0;
    }

    .contacts h4 {
        margin-top: 40px;
    }

    .contact-details p {
        line-height: 20px;
    }

    .social img {
        margin-top: 20px;
    }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .carousel {
        margin-top: 30px;
    }

    .register-form {
        padding: 40px 0;
    }

}

@media only screen and (max-width : 600px) {

    .section-center {
        max-width: 320px;
    }

    .header h1 {
        font-size: 21px;
    }

    .header p {
        font-size: 16px;
    }

    .btn-primary {
        margin-bottom: 10px;
    }
}
    /* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}