/*    Common styles    */

html, body {
    min-width: 320px;
    background: #ffffff;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    color: #828282;
    font-weight: 400;
}

a {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #2cc7c1;
}

a:hover {
    color: #2cc7c1;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    position: relative;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

/*    Header styles    */

.header {
    height: 100vh;
    min-height: 500px;
    background: url("../img/header_bg2.jpg");
    background-size: cover;
    background-position: center;
}

.section-table {
    display: table;
    width: 100%;
    height: 100%;
}

.section-row {
    display: table-row;
}

.section-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.section-center {
    max-width: 550px;
    margin: 0 auto;
}

.header h1 {
    font-family: Montserrat, sans-serif;
    font-size: 31px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.header p {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.section-btn {

}

.fa {
    margin-left: 5px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -ms-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.btn-primary {
    background: #3b7ab4;
}

.btn-primary:hover {
    background: #275987;
}

.btn-primary:hover .fa {
    transform: translateX(7px);
    /*margin-left: 10px;*/
}

.btn-default {
    background: #6a7079;
}


/*    Speakers styles    */

.speakers {
    padding: 90px 0;
    border-bottom: 2px solid #f0f0f1;
}

.speakers h2 {
    color: #828689;
}

.speakers .lg {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 30px;
}

.tabs-wrap {
    border: 3px solid #ececec;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tabs-wrap .tab-content {
    padding: 25px 20px;
}

.tabs-wrap .tab-content ul li {
    line-height: 30px;
}

.fa-check-circle {
    margin-right: 10px;
    font-size: 14px;
    color: #4ed2d7;
}

.tabs-wrap .nav-tabs li:not(.active) {
    background-color: #ececec;
}

.tabs-wrap .nav-tabs.nav-justified > li a,
.tabs-wrap .nav-tabs.nav-justified > li.active a,
.tabs-wrap .nav-tabs.nav-justified > li.active a:focus,
.tabs-wrap .nav-tabs.nav-justified > li.active a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 700;
    outline: 0;
    text-transform: uppercase;
    color: #abb1ba;
    cursor: pointer;
}

.tabs-wrap .nav-tabs.nav-justified > li.active a {
    color: #9097a1;
}


/*    Media styles    */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

@media only screen and (max-width : 600px) {

    .section-center {
        max-width: 320px;
    }

    .header h1 {
        font-size: 21px;
    }

    .header p {
        font-size: 16px;
    }

    .btn-primary {
        margin-bottom: 10px;
    }
}
    /* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}